*{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.01em;
}

h1{
  text-align: center;
  margin-top: 10vh;
  font-size: 3em;
  font-style: oblique;
  text-decoration: underline;
}

button{
  background-color: #FFEFB0;
}

button:hover {
  background-color: #ffdd58;
  cursor: pointer;
}