#insertCredits {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25vw;
    height: 345px;
    border: 1px solid black;
    z-index: 2;
    background-color: #de1c06;
    color: white;
}


#insertCredits>p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#display {
    margin: 1px 35px;
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}

#panelButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.panelButtons {
    border: solid 1px black;
    width: calc(25% - 15px); /* Define a largura das divs, subtraindo a margem */
    height: 60px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Garante que a largura inclua a borda */
    padding: 10px; /* Adiciona preenchimento interno */
    background-color: #FFE98E;
    color: black;
}

.panelButtons:hover {
    background-color: #ffdd58;
    cursor: pointer;
}

#buttons {
    margin-bottom: 25px;
    text-align: center;
}

#buttons>button {
    width: 150px;
    height: 45px;
    margin: 5px 15px;
    background-color: #FFE98E;
}
