#info {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 650px;
    height: 650px;
    border: 1px solid black;
    z-index: 2;
    background-color: #de1c06;
    border: 1px solid black;
    padding: 10px;
}

#infoText {
    color: white;
}

#closeInfo {
    position: absolute;
    right: 25px;
    top: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.imagesInfo {
    margin: 10px;
    height: 80%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
}

.slotInfo {
    margin: 5px;
    border: 1px solid black;
    width: 18%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.premiumInfo {
    font-size: 5em;
    font-weight: bold;
    color: #de1c06;
}

.spanInfo {
    margin: 0 15px;
    font-size: 0.9em;
}